In [103]:
import pandas as pd
import re
import numpy as np
from datetime import datetime

In [98]:
dff = pd.read_csv("phbooktask2.csv",index_col = 0,names = ['search-city', 'search-key', 'company', 'phno', 'actual-address',
       'actual-tags'])
dff.columns

Index(['search-city', 'search-key', 'company', 'phno', 'actual-address',
       'actual-tags'],
      dtype='object')

In [59]:
# df = pd.read_csv("phbooktask2.csv",index_col = 0,names = ['search-city', 'search-key', 'company', 'phno', 'actual-address',
#        'actual-tags'])

In [60]:
# print(df.shape)
# df.head()

(6119, 6)

,search-city,search-key,company,phno,actual-address,actual-tags
0,Mumbai,Readymade-Garment-Manufacturers,"King Blazer Creation in Ghatkopar West, Mumbai",+(91)-9152340556,"Akbar Lala Compund, Azad Nagar, Ghatkopar West...","Readymade Garment Manufacturers, Garments Manu..."
1,Mumbai,Readymade-Garment-Manufacturers,"Embi Creations in Dombivli East, Mumbai",+(91)-9324790610,"Gala No.02, Krishna Recidency, Sonar Pada, Kal...","T Shirt Manufacturers, Sports T Shirt Manufact..."
2,Mumbai,Readymade-Garment-Manufacturers,"SRK Garments in Malad West, Mumbai",+(91)-9152122477,"Plot No 2, Room No-52,Gate No-6,, New Collecto...","Readymade Garment Manufacturers, Uniform Manuf..."
3,Mumbai,Readymade-Garment-Manufacturers,"Eden Rose in Malad West, Mumbai",+(91)-9152430823,"Shop 4, Patel Shopping Centre, Sainath Road, M...","Readymade Garment Retailers, T Shirt Manufactu..."
4,Mumbai,Readymade-Garment-Manufacturers,"A S Garments in Bandra West, Mumbai",+(91)-9152888624,"Teenagers Choice, Shop No 3, 35 TPS Road, Link...","Readymade Garment Wholesalers, Readymade Garme..."

In [101]:
def clean_phno(phno):
    temp = str(phno)
    if temp.startswith('+(91)'):
        temp1 = temp.split('-')
        phno = ''.join(temp1[1:])
    else:
        pass
    try:
        return phno[-10:]
    except:
        return np.nan

In [122]:
def clean(tag,csv_file,cols):
    df = pd.read_csv(csv_file,index_col = 0,names = ['search-city', 'search-key',
                                                         'company',
                                                         'phno',
                                                         'actual-address',
                                                         'actual-tags'])
    print("csv_file shape before cleaning")
    print(df.shape)
#     print(df.head(10))
    print("cleaning phone number-------------------->")
    df['clean_phno'] = df['phno'].apply(clean_phno)
    print("extracting tags-------------------------->")
    df = df[df['actual-tags'].str.contains(tag,flags=re.IGNORECASE,regex = True)]
    print(df.shape)
    print("removing duplicates----------------------->")
    df.drop_duplicates(subset = ["clean_phno"], inplace = True)
    print("csv_file shape after cleaning")
    print(df.shape)
#     print(df.head(10))
    print("Done")
    #next line is to extract only the keyword we want eg., manufactures
#     df['clean_tags'] = df["actual-tags"].str.extract(pat = '('+tag+')')
    return df[cols]

In [123]:
if __name__ == "__main__":
    clean('manufacture','phbooktask2.csv',['company','clean_phno']).to_csv("cleanedphbbok_"+datetime.now()
                                                                           .strftime("%m-%d-%Y_%H-%M-%S")+".csv")

csv_file shape before cleaning
(12512, 6)
cleaning phone number-------------------->
extracting tags-------------------------->
(10128, 7)
removing duplicates----------------------->
csv_file shape after cleaning
(1764, 7)
Done

In [119]:
dff = clean('manufacture','phbooktask2.csv',['company','clean_phno'])

csv_file shape before cleaning
(12512, 6)
cleaning phone number-------------------->
extracting tags-------------------------->
(10128, 7)
removing duplicates----------------------->
csv_file shape after cleaning
(3919, 7)
Done

In [121]:
dff[dff['clean_phno'] == '9152340556']

                                           company  clean_phno
0   King Blazer Creation in Ghatkopar West, Mumbai  9152340556
77  King Blazer Creation in Ghatkopar West, Mumbai  9152340556
74  King Blazer Creation in Ghatkopar West, Mumbai  9152340556
78  King Blazer Creation in Ghatkopar West, Mumbai  9152340556
64  King Blazer Creation in Ghatkopar West, Mumbai  9152340556
59  King Blazer Creation in Ghatkopar West, Mumbai  9152340556
60  King Blazer Creation in Ghatkopar West, Mumbai  9152340556
38  King Blazer Creation in Ghatkopar West, Mumbai  9152340556
46  King Blazer Creation in Ghatkopar West, Mumbai  9152340556
36  King Blazer Creation in Ghatkopar West, Mumbai  9152340556
46  King Blazer Creation in Ghatkopar West, Mumbai  9152340556
46  King Blazer Creation in Ghatkopar West, Mumbai  9152340556
43  King Blazer Creation in Ghatkopar West, Mumbai  9152340556
52  King Blazer Creation in Ghatkopar West, Mumbai  9152340556
50  King Blazer Creation in Ghatkopar West, Mumbai  9152340556