In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("phbook_new.csv")

In [4]:
print(df.shape)
df.head()

(69592, 7)

,Unnamed: 0,search-city,search-key,company,phno,actual-address,actual-tags
0,0,Mumbai,textile-manufacturer,"Mihir Tex in Bhiwandi, Mumbai",+(91)-9152288628,"309, Vardhman Arcade,, Bhiwandi Wada Road, Bhi...","Cloth Wholesalers, Textile Manufacturers, .."
1,1,Mumbai,textile-manufacturer,"S K Trading Co in Malad West, Mumbai",+(91)-7977306951,"31, Malad Shopping Centre, 1st Floor, Malad We...","T Shirt Printers, Fabric Retailers, .."
2,2,Mumbai,textile-manufacturer,"Sri Kalyan Export Pvt Ltd in Villarasampatti, ...",+(91)-8220999953,"192/4 Iswarya Garden, Villarasampatti, Erode -...","Fabric Manufacturers, Cotton Fabric Manufactur..."
3,3,Mumbai,textile-manufacturer,"Pixel Clothings in Opp Deepa Hospital, Tirupur",+(91)-9566650876,"24 Stanes Road, 2nd Street, Tirupur - 641602, ...","Garment Manufacturers, Fabric Manufacturers, .."
4,4,Mumbai,textile-manufacturer,"Walrus SEER Textile MILLS in Pn Road, Tirupur",+(91)-9843077722,"7 ,Walrus Complex, Mariyamman Kovil & Kottai T...","Textile Manufacturers, Fabric Manufacturers, .."

In [5]:
out = []
for each in df['phno']:
    temp = str(each)
    if temp.startswith('+(91)'):
        temp1 = temp.split('-')
        out.append(temp1[1])
    else:
        out.append(None)

In [7]:
df['new_phno'] = out

In [8]:
df.head()

,Unnamed: 0,search-city,search-key,company,phno,actual-address,actual-tags,new_phno
0,0,Mumbai,textile-manufacturer,"Mihir Tex in Bhiwandi, Mumbai",+(91)-9152288628,"309, Vardhman Arcade,, Bhiwandi Wada Road, Bhi...","Cloth Wholesalers, Textile Manufacturers, ..",9152288628
1,1,Mumbai,textile-manufacturer,"S K Trading Co in Malad West, Mumbai",+(91)-7977306951,"31, Malad Shopping Centre, 1st Floor, Malad We...","T Shirt Printers, Fabric Retailers, ..",7977306951
2,2,Mumbai,textile-manufacturer,"Sri Kalyan Export Pvt Ltd in Villarasampatti, ...",+(91)-8220999953,"192/4 Iswarya Garden, Villarasampatti, Erode -...","Fabric Manufacturers, Cotton Fabric Manufactur...",8220999953
3,3,Mumbai,textile-manufacturer,"Pixel Clothings in Opp Deepa Hospital, Tirupur",+(91)-9566650876,"24 Stanes Road, 2nd Street, Tirupur - 641602, ...","Garment Manufacturers, Fabric Manufacturers, ..",9566650876
4,4,Mumbai,textile-manufacturer,"Walrus SEER Textile MILLS in Pn Road, Tirupur",+(91)-9843077722,"7 ,Walrus Complex, Mariyamman Kovil & Kottai T...","Textile Manufacturers, Fabric Manufacturers, ..",9843077722

In [12]:
df['new_phno'].str.len()

0        10.0
1        10.0
2        10.0
3        10.0
4        10.0
         ...
69587     4.0
69588     4.0
69589    10.0
69590     3.0
69591     3.0
Name: new_phno, Length: 69592, dtype: float64

In [14]:
df1 = df[df['new_phno'].str.len() == 10].copy()

In [16]:
df1.drop_duplicates()

,Unnamed: 0,search-city,search-key,company,phno,actual-address,actual-tags,new_phno
0,0,Mumbai,textile-manufacturer,"Mihir Tex in Bhiwandi, Mumbai",+(91)-9152288628,"309, Vardhman Arcade,, Bhiwandi Wada Road, Bhi...","Cloth Wholesalers, Textile Manufacturers, ..",9152288628
1,1,Mumbai,textile-manufacturer,"S K Trading Co in Malad West, Mumbai",+(91)-7977306951,"31, Malad Shopping Centre, 1st Floor, Malad We...","T Shirt Printers, Fabric Retailers, ..",7977306951
2,2,Mumbai,textile-manufacturer,"Sri Kalyan Export Pvt Ltd in Villarasampatti, ...",+(91)-8220999953,"192/4 Iswarya Garden, Villarasampatti, Erode -...","Fabric Manufacturers, Cotton Fabric Manufactur...",8220999953
3,3,Mumbai,textile-manufacturer,"Pixel Clothings in Opp Deepa Hospital, Tirupur",+(91)-9566650876,"24 Stanes Road, 2nd Street, Tirupur - 641602, ...","Garment Manufacturers, Fabric Manufacturers, ..",9566650876
4,4,Mumbai,textile-manufacturer,"Walrus SEER Textile MILLS in Pn Road, Tirupur",+(91)-9843077722,"7 ,Walrus Complex, Mariyamman Kovil & Kottai T...","Textile Manufacturers, Fabric Manufacturers, ..",9843077722
...,...,...,...,...,...,...,...,...
69114,451,Chennai,textile-manufacturer,"Mr-Shubham in Industrial Area, Panipat",+(91)-9255550544,"Shop-578, Old Dc House, Industrial Area, Panip...","Curtain Dealers, Bed Sheet Retailers, ..",9255550544
69115,452,Chennai,textile-manufacturer,"Subhalakshmi Fashon in Meenakshipuram, Nagercoil",+(91)-9944331273,"No 33, Semmangudi Road, Meenakshipuram, Nagerc...","Saree Retailers, Cotton Textile Manufacturers, ..",9944331273
69117,454,Chennai,textile-manufacturer,"Sree Arthanari Textiles in Kumarapalayam, Nama...",+(91)-9787082037,"Kumarapalayam, Namakkal - 637209, Rajam Theatre","Textile Manufacturers, Cotton Textile Manufact...",9787082037
69584,461,Chennai,textile-manufacturer,"Annex Fabrics in Sengunthapuram, Karur",+(91)-9842432280,"No 4 L, Sengunthapuram, Karur - 639002, Gandhi...","Textile Manufacturers, Home Furnishing Manufac...",9842432280
69589,466,Chennai,textile-manufacturer,"Mangal SHREE Cotton MILLS in Balotra, Barmer",+(91)-9462759812,"House No. 283,LAXMI NAGAR, JERLA ROAD, Balotra...","Textile Manufacturers, Cotton Fabric Manufactu...",9462759812

In [17]:
df2 = pd.read_csv('phbook.csv')
df2.shape

(9843, 7)

In [18]:
df2.drop_duplicates()

,Unnamed: 0,search-city,search-key,company,phno,actual-address,actual-tags
0,0,Mumbai,textile-manufacturer,"Mihir Tex in Bhiwandi, Mumbai",+(91)-9152288628,"309, Vardhman Arcade,, Bhiwandi Wada Road, Bhi...","Cloth Wholesalers, Textile Manufacturers, .."
1,1,Mumbai,textile-manufacturer,"S K Trading Co in Malad West, Mumbai",+(91)-7977306951,"31, Malad Shopping Centre, 1st Floor, Malad We...","T Shirt Printers, Fabric Retailers, .."
2,2,Mumbai,textile-manufacturer,"Sri Kalyan Export Pvt Ltd in Villarasampatti, ...",+(91)-8220999953,"192/4 Iswarya Garden, Villarasampatti, Erode -...","Fabric Manufacturers, Cotton Fabric Manufactur..."
3,3,Mumbai,textile-manufacturer,"Pixel Clothings in Opp Deepa Hospital, Tirupur",+(91)-9566650876,"24 Stanes Road, 2nd Street, Tirupur - 641602, ...","Garment Manufacturers, Fabric Manufacturers, .."
4,4,Mumbai,textile-manufacturer,"Walrus SEER Textile MILLS in Pn Road, Tirupur",+(91)-9843077722,"7 ,Walrus Complex, Mariyamman Kovil & Kottai T...","Textile Manufacturers, Fabric Manufacturers, .."
...,...,...,...,...,...,...,...
9838,5,Indore,textile-manufacturer,"K K Textile in Pali City, Pali-Rajasthan",+(91)-2932-232435,"Shop No-16, Pali City, Pali-Rajasthan - 306401...","Textile Manufacturers, Fabric Manufacturers, .."
9839,6,Indore,textile-manufacturer,"M R Textiles in Balotra Industrial Area, Barmer",+(91)-9327739900,"Plot No E 230, Balotra Industrial Area, Barmer...","Textile Manufacturers, Cotton Textile Manufact..."
9840,7,Indore,textile-manufacturer,"Sel Manufacturing Co. Ltd in , Nawanshahr",+(91)-7340877603,Sel Manufacturing Co Ltd Mr. Hemant Sharma Vpo...,"Textile Fabric Manufacturers, Textile Manufact..."
9841,8,Indore,textile-manufacturer,"Aiwa Silks in Kanhangad, Kasaragod",+(91)-9895283765,"Main Road, Kanhangad, Kasaragod - 671315",Textile Manufacturers
9842,9,Indore,textile-manufacturer,"Jct Ltd (Registered Office) in Chohal, Hoshiarpur",+(91)-01882-258780,"Chohal, Hoshiarpur - 146024, Village- Chahol","Textile Manufacturers, Textile Handloom Manufa..."

In [19]:
df1.columns

Index(['Unnamed: 0', 'search-city', 'search-key', 'company', 'phno',
       'actual-address', 'actual-tags', 'new_phno'],
      dtype='object')

In [20]:
df1 = df1[['company','new_phno']]

In [21]:
df1.tail()

                                                 company    new_phno
69574             Mr-Shubham in Industrial Area, Panipat  9255550544
69575   Subhalakshmi Fashon in Meenakshipuram, Nagercoil  9944331273
69577  Sree Arthanari Textiles in Kumarapalayam, Nama...  9787082037
69584             Annex Fabrics in Sengunthapuram, Karur  9842432280
69589       Mangal SHREE Cotton MILLS in Balotra, Barmer  9462759812

In [29]:
df1.to_csv('test_send.csv')

In [28]:
df1 = df1.drop_duplicates()

In [30]:
df1.shape

(779, 2)

In [31]:
df1.head()

                                             company    new_phno
0                      Mihir Tex in Bhiwandi, Mumbai  9152288628
1               S K Trading Co in Malad West, Mumbai  7977306951
2  Sri Kalyan Export Pvt Ltd in Villarasampatti, ...  8220999953
3     Pixel Clothings in Opp Deepa Hospital, Tirupur  9566650876
4      Walrus SEER Textile MILLS in Pn Road, Tirupur  9843077722

In [36]:
df1 = pd.read_csv('test_send.csv')

In [39]:
df1 = df1.drop(['Unnamed: 0'],axis = 1)

In [40]:
df1.head()

                                             company    new_phno
0                      Mihir Tex in Bhiwandi, Mumbai  9152288628
1               S K Trading Co in Malad West, Mumbai  7977306951
2  Sri Kalyan Export Pvt Ltd in Villarasampatti, ...  8220999953
3     Pixel Clothings in Opp Deepa Hospital, Tirupur  9566650876
4      Walrus SEER Textile MILLS in Pn Road, Tirupur  9843077722

In [42]:
dum = df1.iloc[:50]

In [43]:
dum.to_csv('testsend001.csv')